<head>
    <meta charset="utf-8">
    <title>{{ site.reveal.title }}</title>
    <meta name="description" content="Discover the dynamic world of Application Security through the lens of Iron Man concepts. Explore the fundamentals of securing digital applications with inspiration from the iconic superhero. Dive into topics such as: threat monitoring, application monitoring and DevSecOps, unveiling the parallels between Iron Man's strategies and modern AppSec practices. Join us on a journey through the innovative and powerful realm where cybersecurity meets superhero technology.">
    <meta name="keywords" content="Application Security, AppSec, DevSecOps, Cyber, Security, Iron Man, Cybersecurity, Threat Monitoring, Authentication, Web Security">
    <meta name="author" content="Cássio Batista Pereira">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'feed.xml' | absolute_url }}"/>

    <!-- Theme used for reveal.js and default syntax highlighting of code -->
    <link rel="stylesheet" href="{{ 'assets/plugin/highlight/monokai.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/rouge-highlight/monokai.css' | relative_url }}">

    <!-- Reveal CSS -->
    <link rel="stylesheet" href="{{ 'assets/dist/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/reveal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/theme/' | relative_url }}{{ site.reveal.theme }}.css" id="theme">

</head>
